In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import requests
import time
import uuid

In [3]:
from package.keypair_management import KeyPairManagement
from package.jwt_management import ClientJWTManagement, ServerJWTManagement, JWTValidation
from package.database_management import DBManagement
from package.database_management import token_store
from package.utils import config

In [4]:
from package.database_management.utils import DB
from package.configurations import db_path
ezdb = DB(db_path=db_path)

In [5]:
from package.database_management.Types import DPoPModel, AccessTokenModel, RefreshTokenModel

In [7]:
db = DBManagement(db_path='./db/token_store.db')
db.delete_database()
tables = {
    DPoPModel().table: "(jti STRING)",
    AccessTokenModel().table:"(jti STRING, access_token STRING, client_id STRING, exp INTEGER, active BOOLEAN, remark STRING)",
    RefreshTokenModel().table:"(jti STRING, access_token STRING, client_id STRING, exp INTEGER, active BOOLEAN, remark STRING, refresh_token STRING)",
}
for table, query in tables.items():
    db.create_database(table=table, schemas=query)

CREATE TABLE dpopmodel (jti STRING)
CREATE TABLE accesstokenmodel (jti STRING, access_token STRING, client_id STRING, exp INTEGER, active BOOLEAN, remark STRING)
CREATE TABLE refreshtokenmodel (jti STRING, access_token STRING, client_id STRING, exp INTEGER, active BOOLEAN, remark STRING, refresh_token STRING)

In [12]:
DPoPModel.model_fields

{'table_name': FieldInfo(annotation=Union[str, NoneType], required=False, default=None, description=''),
 'jti': FieldInfo(annotation=str, required=False, default_factory=<lambda>, description='')}

In [13]:
AccessTokenModel.model_fields

{'table_name': FieldInfo(annotation=Union[str, NoneType], required=False, default=None, description=''),
 'jti': FieldInfo(annotation=str, required=False, default_factory=<lambda>, description=''),
 'access_token': FieldInfo(annotation=Union[str, NoneType], required=False, default=None, description=''),
 'client_id': FieldInfo(annotation=Union[str, NoneType], required=False, default=None, description=''),
 'exp': FieldInfo(annotation=Union[int, NoneType], required=False, default=None, description=''),
 'active': FieldInfo(annotation=Union[bool, NoneType], required=False, default=True, description=''),
 'remark': FieldInfo(annotation=Union[str, NoneType], required=False, default='', description='')}

In [14]:
RefreshTokenModel.model_fields

{'table_name': FieldInfo(annotation=Union[str, NoneType], required=False, default=None, description=''),
 'jti': FieldInfo(annotation=str, required=False, default_factory=<lambda>, description=''),
 'access_token': FieldInfo(annotation=Union[str, NoneType], required=False, default=None, description=''),
 'client_id': FieldInfo(annotation=Union[str, NoneType], required=False, default=None, description=''),
 'exp': FieldInfo(annotation=Union[int, NoneType], required=False, default=None, description=''),
 'active': FieldInfo(annotation=Union[bool, NoneType], required=False, default=True, description=''),
 'remark': FieldInfo(annotation=Union[str, NoneType], required=False, default='', description=''),
 'refresh_token': FieldInfo(annotation=Union[str, NoneType], required=False, default=None, description='')}

In [8]:
DPoPModel().create(ezdb)
db.query(f"SELECT * FROM {DPoPModel().table}")

                                    jti
0  fb2a1dc2-595e-4593-bde2-310840d58f54

In [9]:
AccessTokenModel(access_token="accesstoken555", client_id="555", exp=111, ).create(ezdb)
db.query(f"SELECT * FROM {AccessTokenModel().table}")

,jti,access_token,client_id,exp,active,remark
0,c1602146-79fe-4fc6-912d-71f7da1bd9c2,accesstoken555,555,111,True,

In [11]:
RefreshTokenModel(access_token="accesstoken555", client_id="555", exp=111, refresh_token="refreshtoken555").create(ezdb)
db.query(f"SELECT * FROM {RefreshTokenModel().table}")

True

,jti,access_token,client_id,exp,active,remark,refresh_token
0,70a17999-b63c-42d1-a240-048e6a2271a8,accesstoken555,555,111,True,,refreshtoken555