In [1]:
%load_ext autoreload
%autoreload 2

In [17]:
from package.ezorm import crud as crud

class DPoPProofJTI(crud.EzORM):
    jti:str

class AccessTokenJTI(DPoPProofJTI):
    client:str
    access_token:str
    exp:int
    active:bool = True
    remark:str = None
    
class RefreshTokenJTI(AccessTokenJTI):
    refresh_token:str

tables = [DPoPProofJTI, AccessTokenJTI, RefreshTokenJTI]

In [18]:
for table in tables:
    print(crud.create_tbl_query(table))

CREATE TABLE IF NOT EXISTS dpopproofjti ( jti TEXT NOT NULL );
CREATE TABLE IF NOT EXISTS accesstokenjti ( jti TEXT NOT NULL, client TEXT NOT NULL, access_token TEXT NOT NULL, exp INTEGER NOT NULL, active BOOLEAN DEFAULT TRUE, remark TEXT );
CREATE TABLE IF NOT EXISTS refreshtokenjti ( jti TEXT NOT NULL, client TEXT NOT NULL, access_token TEXT NOT NULL, exp INTEGER NOT NULL, active BOOLEAN DEFAULT TRUE, remark TEXT, refresh_token TEXT NOT NULL );

In [19]:
for table in tables:
    print(crud.delete_tbl_query(table))

DROP TABLE IF EXISTS dpopproofjti;
DROP TABLE IF EXISTS accesstokenjti;
DROP TABLE IF EXISTS refreshtokenjti;

In [15]:
crud.create_tables(tables)

Model: dpopproofjti created successfully
Model: accesstokenjti created successfully
Model: refreshtokenjti created successfully
All tables created successfully

In [20]:
DPoPProofJTI.__table__

'dpopproofjti'

In [21]:
crud.execute(f"SELECT * FROM {DPoPProofJTI.__table__}", response=True)

Empty DataFrame
Columns: [jti]
Index: []

In [25]:
crud.delete_tables(tables)

DROP TABLE IF EXISTS dpopproofjti;
Model: dpopproofjti deleted successfully
DROP TABLE IF EXISTS accesstokenjti;
Model: accesstokenjti deleted successfully
DROP TABLE IF EXISTS refreshtokenjti;
Model: refreshtokenjti deleted successfully
All tables deleted successfully

In [26]:
crud.execute(f"SELECT * FROM {DPoPProofJTI.__name__.lower()}", response=True)

CatalogException: Catalog Error: Table with name dpopproofjti does not exist!
Did you mean "pg_description"?
LINE 1: SELECT * FROM dpopproofjti
                      ^

In [19]:
from pydantic import BaseModel, Field
from typing import Dict

class Select:
    def __init__(self, obj: BaseModel):
        self.obj = obj

    @property
    def model_fields(self) -> Dict[str, Field]:
        """Return the model fields as a dictionary."""
        return {field_name: field_info for field_name, field_info in self.obj.__fields__.items()}

    def __getattr__(self, item: str):
        """Allow dynamic access to the field names."""
        fields = self.model_fields
        if item in fields:
            return item
        raise AttributeError(f"'{self.obj.__name__}' has no field '{item}'")

# Define a Pydantic model
class Test(BaseModel):
    id: str
    name: str

# Usage of Select
select_instance = Select(Test)

# Now you can dynamically access the fields via Select
print(select_instance.id)  # Output will be 'id'
print(select_instance.name)  # Output will be 'name'

# Access model fields as a dictionary
print(select_instance.model_fields)

id
name
{'id': FieldInfo(annotation=str, required=True), 'name': FieldInfo(annotation=str, required=True)}

# What to do  

- use class as datamodel
- query using class

In [7]:
from pydantic import BaseModel, Field

class Test(BaseModel):
    id: str = Field(description="id")

In [30]:
from pydantic import BaseModel
import package.ezorm.crud as crud
class User(crud.EzORM):
    id: str
    name: str
    address: str
    active: bool = True
    remark: str = None

In [31]:
crud.EzORM

package.ezorm.crud.EzORM

In [32]:
crud.create_tbl_query(User)

'CREATE TABLE IF NOT EXISTS User ( id TEXT NOT NULL, name TEXT NOT NULL, address TEXT NOT NULL, active BOOLEAN DEFAULT TRUE, remark TEXT );'

In [33]:
crud.delete_tbl_query(User)

'DROP TABLE IF EXISTS user;'

In [26]:
type(UserA)

pydantic._internal._model_construction.ModelMetaclass

In [21]:
User.__class__

pydantic._internal._model_construction.ModelMetaclass

In [20]:
User.__name__

'User'

In [18]:
User.model_fields

{'id': FieldInfo(annotation=str, required=True),
 'name': FieldInfo(annotation=str, required=True),
 'address': FieldInfo(annotation=str, required=True),
 'active': FieldInfo(annotation=bool, required=False, default=True),
 'remark': FieldInfo(annotation=str, required=False, default=None)}

In [16]:
User.__annotations__

{'id': str, 'name': str, 'address': str, 'active': bool, 'remark': str}

In [ ]:
from mypackage import crud, EzORM

class TableA(EzORM):
    id: str
    name: str
    age: int



# if read
query = crud.select(TableA.id, TableA.name).from(TableA).where(TableA.age > 20).build()
print(query)
"SELECT TableA.id, TableA.name FROM TableA WHERE TableA.age > 20;"

In [8]:
Test.id

AttributeError: id

In [3]:
from pydantic import BaseModel, Field
from package.ezorm.ezorm import EzDuckORM
from package.ezorm.utils import duck_connection
import json

class DPoPBlackList(EzDuckORM):
    jti: str
    client_id: str
    exp: int
    amount: float
    active: bool = True
    remark: str = ""

class AccessTokenJTI(EzDuckORM):
    jti: str
    token: str
    cilent_id: str
    exp: int = None
    active: bool = True
    remark: str = "test"

class RefreshTokenJTI(EzDuckORM):
    jti: str
    child_token:str
    token:str
    exp: int
    active: bool = True
    remark: str = None

EzDuckORM.create_tables(tables=[DPoPBlackList, AccessTokenJTI, RefreshTokenJTI])

Creating table for model: DPoPBlackList
Creating table for model: AccessTokenJTI
Creating table for model: RefreshTokenJTI
All tables processed successfully

In [4]:
DPoPBlackList.table()

'dpopblacklist'

In [5]:
EzDuckORM.delete_tables(tables=[DPoPBlackList, AccessTokenJTI, RefreshTokenJTI])

Deleting table for model: DPoPBlackList
Deleting table for model: AccessTokenJTI
Deleting table for model: RefreshTokenJTI
All tables deleted successfully

In [12]:
from pydantic import BaseModel, Field
from package.ezorm.ezorm import EzDuckORM
from package.ezorm.utils import duck_connection
import json

class ExistingTable(EzDuckORM):
    id: str
    name: str
    age: str
    active: bool = True
    remark: str = None
    # __table__:str = "existingtableintable"

class NewTable(EzDuckORM):
    id: str
    name: str
    age: int
    active: bool = True
    remark: str = "nothing"

# EzDuckORM.create_tables(tables=[ExistingTable, NewTable])

In [17]:
ExistingTable.age

AttributeError: age

In [13]:
ExistingTable.create_tbl_query()

'CREATE TABLE IF NOT EXISTS existingtable ( id TEXT NOT NULL, name TEXT NOT NULL, age TEXT NOT NULL, active BOOLEAN DEFAULT TRUE, remark TEXT );'

In [14]:
NewTable.create_tbl_query()

"CREATE TABLE IF NOT EXISTS newtable ( id TEXT NOT NULL, name TEXT NOT NULL, age INTEGER NOT NULL, active BOOLEAN DEFAULT TRUE, remark TEXT DEFAULT 'nothing' );"

In [10]:
NewTable.table()

'newtable'

In [71]:
NewTable.test_table()

AttributeError: test_table

In [11]:
with duck_connection(database="./db/ezorm.db") as con:
    records = con.execute(f"""PRAGMA table_info('{ExistingTable.table()}');""").df()
records

   cid    name     type  notnull            dflt_value     pk
0    0      id  VARCHAR     True                  None  False
1    1    name  VARCHAR     True                  None  False
2    2     age  VARCHAR     True                  None  False
3    3  active  BOOLEAN    False  CAST('t' AS BOOLEAN)  False
4    4  remark  VARCHAR    False                  None  False

In [16]:
with duck_connection(database="./db/ezorm.db") as con:
    records = con.execute(f"""PRAGMA table_info('{NewTable.table()}');""").df()
records

CatalogException: Catalog Error: Table with name newtable does not exist!
Did you mean "pg_tables"?

In [13]:
EzDuckORM.delete_tables(tables=[ExistingTable, NewTable])

Deleting table for model: ExistingTable
Deleting table for model: NewTable
All tables deleted successfully

In [14]:
with duck_connection(database="./db/ezorm.db") as con:
    records = con.execute(f"""PRAGMA table_info('{ExistingTable.table()}');""").fetchall()
records

CatalogException: Catalog Error: Table with name existingtableintable does not exist!
Did you mean "sqlite_master"?

In [15]:
with duck_connection(database="./db/ezorm.db") as con:
    records = con.execute(f"""PRAGMA table_info('{NewTable.table()}');""").fetchall()
records

CatalogException: Catalog Error: Table with name newtable does not exist!
Did you mean "pg_tables"?

In [11]:
with duck_connection(database="./db/ezorm.db") as con:
    records = con.execute(f"""PRAGMA table_info('{DPoPBlackList.table()}');""").df()
records

   cid       name     type  notnull            dflt_value     pk
0    0        jti  VARCHAR     True                  None  False
1    1  client_id  VARCHAR     True                  None  False
2    2        exp  INTEGER     True                  None  False
3    3     amount    FLOAT     True                  None  False
4    4     active  BOOLEAN    False  CAST('t' AS BOOLEAN)  False
5    5     remark  VARCHAR    False                  None  False

In [17]:
with duck_connection(database="./db/ezorm.db") as con:
    records = con.execute(f"""PRAGMA table_info('{DPoPBlackList.table()}');""").fetchall()
records

CatalogException: Catalog Error: Table with name dpopblacklist does not exist!
Did you mean "duckdb_tables"?

In [4]:
with duck_connection(database="./db/ezorm.db") as con:
    records = con.execute(f"""SELECT * from {DPoPBlackList.table()};""").fetchall()
records

[]

In [166]:
with duck_connection(database="./db/ezorm.db") as con:
    records = con.execute("")
records

In [169]:
with duck_connection(database="./db/ezorm.db") as con:
    records = con.execute(f"""DESCRIBE {DPoPBlackList.table()};""").fetchall()
records

[('jti', 'VARCHAR', 'NO', None, None, None)]

In [170]:
with duck_connection(database="./db/ezorm.db") as con:
    records = con.execute(f"""DESCRIBE {DPoPBlackList.table()};""").df()
records

  column_name column_type null   key default extra
0         jti     VARCHAR   NO  None    None  None

In [23]:
from package.ezorm.utils import duck_connection
query = """\
SELECT * 
FROM information_schema.tables 
WHERE table_schema = 'main';
""".strip()

with duck_connection(database="./db/ezorm.db") as con:
    records = con.execute(query).df()
records

,table_catalog,table_schema,table_name,table_type,self_referencing_column_name,reference_generation,user_defined_type_catalog,user_defined_type_schema,user_defined_type_name,is_insertable_into,is_typed,commit_action,TABLE_COMMENT
0,ezorm,main,accesstokenjti,BASE TABLE,None,None,None,None,None,YES,NO,None,None
1,ezorm,main,dpopproofjti,BASE TABLE,None,None,None,None,None,YES,NO,None,None
2,ezorm,main,refreshtokenjti,BASE TABLE,None,None,None,None,None,YES,NO,None,None

In [11]:
from typing import Any, Dict, Type, get_type_hints


# Field Class to Represent Table Columns
class Field:
    def __init__(self, table: str, column: str):
        self.table = table
        self.column = column

    def __str__(self):
        return f"{self.table}.{self.column}"

    def __gt__(self, value):
        return f"{self} > {value}"

    def __lt__(self, value):
        return f"{self} < {value}"

    def __eq__(self, value):
        return f"{self} = {value}"

    def __ne__(self, value):
        return f"{self} != {value}"

    def __ge__(self, value):
        return f"{self} >= {value}"

    def __le__(self, value):
        return f"{self} <= {value}"


# Metaclass to Automatically Generate Fields
class EzORMMeta(type):
    def __new__(cls, name, bases, dct):
        # Create the new class
        new_class = super().__new__(cls, name, bases, dct)
        # Dynamically add fields based on type annotations
        annotations: Dict[str, Type] = get_type_hints(new_class)
        for field_name in annotations.keys():
            # Add a class method for each field
            setattr(
                new_class,
                field_name,
                classmethod(lambda cls, col=field_name: Field(cls.__name__, col)),
            )
        return new_class


# Base ORM Class with Dynamic Fields
class EzORM(metaclass=EzORMMeta):
    pass


# Define a Table Model
class TableA(EzORM):
    id: str
    name: str
    address: str
    age: int


# crud Query Builder
class QueryBuilder:
    def __init__(self):
        self._select = []
        self._from = None
        self._where = []

    def select(self, *fields):
        self._select.extend(str(field) for field in fields)
        return self

    def from_(self, table):
        self._from = table.__name__
        return self

    def where(self, condition: str):
        self._where.append(condition)
        return self

    def build(self) -> str:
        if not self._select or not self._from:
            raise ValueError("SELECT fields and FROM table must be specified.")
        query = f"SELECT {', '.join(self._select)} FROM {self._from}"
        if self._where:
            query += f" WHERE {' AND '.join(self._where)}"
        return query + ";"


# crud Operations
class crud:
    @staticmethod
    def read():
        return QueryBuilder()


# Example Query
query = (
    crud.read()
    .select(TableA.id(), TableA.name(), TableA.address())
    .from_(TableA)
    .where(TableA.age() > 20)
    .build()
)

print(query)

SELECT TableA.id, TableA.name, TableA.address FROM TableA WHERE TableA.age > 20;