In [1]:
%load_ext autoreload
%autoreload 2

# Storage should be:
- refresh_token_jti as db
- access_token_jti as db
- dpop_proof_jti as set

In [2]:
# from package.database_management.base import BaseDuckDB
from package.database_management import DBManagement
from package import config

In [3]:
db = DBManagement(db_path='./db/token_store.db')

In [4]:
db.delete_database()
tables = {
    config.REFRESH_TOKEN_JTI:"(jti STRING, token STRING, client_id STRING, exp INTEGER, active BOOLEAN, remark STRING)",
    config.ACCESS_TOKEN_JTI:"(jti STRING, token STRING, client_id STRING, exp INTEGER, active BOOLEAN, remark STRING)",
    config.DPOP_PROOF_JTI: "(jti STRING)"
}
for table, query in tables.items():
    db.create_database(table=table, schemas=query)

CREATE TABLE refresh_token_jti (jti STRING, token STRING, client_id STRING, exp INTEGER, active BOOLEAN, remark STRING)
CREATE TABLE access_token_jti (jti STRING, token STRING, client_id STRING, exp INTEGER, active BOOLEAN, remark STRING)
CREATE TABLE dpop_proof_jti (jti STRING)

In [14]:
db.query(f"SELECT * FROM {config.DPOP_PROOF_JTI}")

Empty DataFrame
Columns: [jti]
Index: []

In [15]:
db.query(f"SELECT * FROM {config.ACCESS_TOKEN_JTI}")

Empty DataFrame
Columns: [jti, token, client_id, exp, active, remark]
Index: []

In [16]:
db.query(f"SELECT * FROM {config.REFRESH_TOKEN_JTI}")

Empty DataFrame
Columns: [jti, token, client_id, exp, active, remark]
Index: []

In [13]:
db.list_table()

                name
0   access_token_jti
1     dpop_proof_jti
2  refresh_token_jti

In [12]:
# db.delete_database()