In [46]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

# Storage should be:
- refresh_token_jti as db
- access_token_jti as db
- dpop_proof_jti as set

In [61]:
# from package.database_management.base import BaseDuckDB
from package.database_management import DBManagement

In [62]:
db = DBManagement(db_path='./db/token_store.db')

In [63]:
tables = {
    "refresh_token_jti":"(jti STRING, token STRING, client_id STRING, exp INTEGER, active BOOLEAN)",
    "access_token_jti":"(jti STRING, token STRING, client_id STRING, exp INTEGER, active BOOLEAN)",
    "dpop_proof_jti": "(jti STRING)"
}
for table, query in tables.items():
    db.create_database(table=table, schemas=query)

CREATE TABLE refresh_token_jti (jti STRING, token STRING, client_id STRING, exp INTEGER, active BOOLEAN)
CREATE TABLE access_token_jti (jti STRING, token STRING, client_id STRING, exp INTEGER, active BOOLEAN)
CREATE TABLE dpop_proof_jti (jti STRING)

In [53]:
db.query("SELECT * FROM dpop_proof_jti")

                                    jti
0  4dcc334b-2f5d-473b-a6ac-b89f3e54b618
1  4e932541-93c8-419f-84ef-d4f18d1e9887

In [64]:
db.query("SELECT * FROM access_token_jti")

,jti,token,client_id,exp,active
0,7143037a-1d6c-4cd9-b1ca-f405c0225ef1,eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJpYXQiO...,5555,1732553320,True
1,45347bde-b6c7-42e5-90ac-6c0b2249aac2,eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJpYXQiO...,5555,1732553356,True
2,b30c7065-1eeb-4574-8dfb-a90c935a8a37,eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJpYXQiO...,5555,1732553760,True
3,427bf503-a4b5-48e9-8640-8963d2390ec1,eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJpYXQiO...,5555,1732555932,True
4,0f4140c1-f913-4867-8916-7307157bf145,eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJpYXQiO...,5555,1732556254,True
5,941a4b5d-bcc0-4802-9e12-05a29b5c81f6,eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJpYXQiO...,5555,1732556315,True

In [41]:
# db.update_token(table="access_token_jti", jti="testforaccesstoken2", client_id="access_token2", token="test2", exp=12346)
# db.query("SELECT * FROM access_token_jti")

                   jti  token      client_id    exp  active
0  testforaccesstoken1  test1  access_token1  12345    True
1  testforaccesstoken2  test2  access_token2  12346    True

In [57]:
# db.add_jti(table="refresh_token_jti", jti="testforrefreshtoken1", client_id="test1", token="refresh_token1", exp=12345, active=True)
# db.add_jti(table="refresh_token_jti", jti="testforrefreshtoken2", client_id="test1", token="refresh_token2", exp=12345, active=True)
db.query("SELECT * FROM refresh_token_jti")

,jti,token,client_id,exp,active
0,045b42ce-b0af-46f6-bdd9-4e58ca696fd1,eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJpYXQiO...,5555,1732638468,True
1,177a1f4c-c69b-4d5a-a13c-7c67d5fcb1a7,eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJpYXQiO...,5555,1732638546,True
2,d5839480-e67a-4cea-9072-7d5ce26f8290,eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJpYXQiO...,5555,1732638627,True
3,31e882c2-bc1a-4c72-adc2-7d903a437fcf,eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJpYXQiO...,5555,1732638668,True
4,e7090d6c-d04d-491a-91b9-654156c5e744,eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJpYXQiO...,5555,1732638750,True
5,410b1cd9-f4ea-421f-8f25-512e097d62ee,eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJpYXQiO...,5555,1732638887,True

In [43]:
# db.update_active(table="refresh_token_jti", jti="testforrefreshtoken1", client_id="refresh_token1", active=False)
# db.query("SELECT * FROM refresh_token_jti")

                    jti  token       client_id    exp  active
0  testforrefreshtoken1  test1  refresh_token1  12345   False
1  testforrefreshtoken2  test1  refresh_token2  12345    True

In [5]:
db.list_table()

                name
0   access_token_jti
1     dpop_proof_jti
2  refresh_token_jti

In [60]:
db.delete_database()